<div class="container" ng-controller="userRegisterCtrl">
<navbar-directive></navbar-directive> 
<h1>User Registration</h1>
<form>
    <span> I am a :
    <input type="radio" ng-model="userType" group="userType" value="driver">Driver</input>
    <input type="radio" ng-model="userType" group="userType" value="group">Group</input>
    <input type="text" ng-model="email" name="email" placeholder="Email">
    <input type="text" ng-model="phone" name="phone" placeholder="Phone">
    <input type="text" ng-model="address" name="address" placeholder="Address">
    <input type="text" ng-model="city" name="city" placeholder="City">
    <input type="text" ng-model="state" name="state" placeholder="State">
    <input type="text" ng-model="zip" name="zip" placeholder="Zip">
    <input type="text" ng-model="password" name="password" placeholder="Password">
    <input type="text" ng-model="verify" name="verify" placeholder="Verify Password">
    <input type="submit" ng-click="createUser()">
</form>
</div>