<div class="container" ng-controller="routePostCtrl">
<navbar-directive></navbar-directive> 
<h1>Route Post</h1>
<form>
<!--     <input type="text" ng-model="animalName" placeholder="animalName">
    <input type="text" ng-model="animalExternalId" placeholder="Animal ID given by shelter/group">
    <input type="text" ng-model="destGroupName" placeholder="Destination Group Name">
    <span> Animal Type: </span>
    <input type="radio" ng-model="animalType" group="animalType" value="dog">Dog</input>
    <input type="radio" ng-model="animalType" group="animalType" value="cat">Cat</input>
    <input type="text" ng-model="weight" placeholder="Animal Weight">
    <input type="text" ng-model="gender" placeholder="Animal Gender">
    <input type="textbox" ng-model="breed" placeholder="Animal Breed">
    <input type="text" ng-model="age" placeholder="Estimated Animal Age in Years (if puppy/kitten, enter 0)">
    <input type="submit" ng-click="createAnimalPost()"> -->
</form>
</div>