<div class="container" ng-controller="animalSearchCtrl">
    <navbar-directive></navbar-directive> 
    <h1>Animal Search</h1>
    <!-- <div class="panel panel-default">
        <div class="panel-heading">Participating Shelter and Rescue Groups: Search by city, state, or group name.</div>
        <input type="text" class="form-control" ng-model="search">
        <table class="table">
            <tr>
                <th>Group Name</th>
                <th>City</th> 
                <th>State</th>
                <th>Zip</th>
            </tr>
            <tr ng-repeat="data in groupData | toArray:false | filter:search">
                <td ng-bind="data.groupName"></td>
                <td ng-bind="data.user.city"></td> 
                <td ng-bind="data.user.state"></td>
                <td ng-bind="data.user.zip"></td>
            </tr>
        </table>
    </div> -->
</div>
