<div class="container" ng-controller="myaccountCtrl">
    <navbar-directive></navbar-directive> 
    <h1>My Account</h1>
    <uib-tabset active="active">
        <uib-tab index="0" heading="User Info">
            <div class="row">
                <div class="col-sm-5 lineHeight33">
                    <label class="myAcctLabel vertAlignMiddle">Phone: </label>
                    <span class="vertAlignMiddle" ng-bind="userData.user.phone"></span>
                </div>
                <div class="col-sm-7">
                    <label class="myAcctLabel">Update phone number</label>
                    <input type="text" class="updateAcctData" ng-model="newPhone">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 lineHeight33">
                    <label class="myAcctLabel vertAlignMiddle">Address: </label>
                    <span class="vertAlignMiddle" ng-bind="userData.user.address"></span>
                </div>
                <div class="col-sm-7">
                    <label class="myAcctLabel">Update address</label>
                    <input type="text" class="updateAcctData" ng-model="newAddress">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 lineHeight33">
                    <label class="myAcctLabel vertAlignMiddle">City: </label>
                    <span class="vertAlignMiddle" ng-bind="userData.user.city"></span>
                </div>
                <div class="col-sm-7">
                    <label class="myAcctLabel">Update city</label>
                    <input type="text" class="updateAcctData" ng-model="newCity">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 lineHeight33">
                    <label class="myAcctLabel vertAlignMiddle">State: </label>
                    <span class="vertAlignMiddle" ng-bind="userData.user.state"></span>
                </div>
                <div class="col-sm-7">
                    <label class="myAcctLabel">Update state</label>
                    <input type="text" class="updateAcctData" ng-model="newState">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 lineHeight33">
                    <label class="myAcctLabel vertAlignMiddle">Zip Code: </label>
                    <span class="vertAlignMiddle" ng-bind="userData.user.zip"></span>
                </div>
                <div class="col-sm-7">
                    <label class="myAcctLabel">Update zip code</label>
                    <input type="text" class="updateAcctData" ng-model="newZip">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 lineHeight33">
                    <label class="myAcctLabel vertAlignMiddle">Email: </label>
                    <span class="vertAlignMiddle" class="vertAlignMiddle" ng-bind="userData.user.email"></span>
                </div>
                <div class="col-sm-7">
                    <label class="myAcctLabel">Update email address</label>
                    <input type="text" class="updateAcctData" ng-model="newEmail">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 lineHeight33">
                    <label class="myAcctLabel vertAlignMiddle">User Account Type: </label>
                    <span class="vertAlignMiddle" ng-bind="userData.user.userType"></span>
                </div>
                <input type="submit" class="updateGroupAcctData" ng-click="updateGroupAcctData()">
            </div>   
        </uib-tab>
        <uib-tab index="1" heading="Group Info">
            <div class="row">
                <div class="col-sm-5 lineHeight33">
                    <label class="myAcctLabel vertAlignMiddle">Group Name: </label>
                    <span class="vertAlignMiddle" class="vertAlignMiddle" ng-bind="userData.groupName"></span>
                </div>
                <div class="col-sm-7">
                    <label class="myAcctLabel">Update group name</label>
                    <input type="text" class="updateGroupAcctData" ng-model="newGroupName">
                </div>
                <input type="submit" class="updateGroupAcctData" ng-click="updateGroupAcctData()">
            </div>
        </uib-tab>
    </uib-tabset>
</div>
