<div class="container" ng-controller="routePostCtrl">
<navbar-directive></navbar-directive> 
<h1>Route Post</h1>
<form>
    <input type="text" ng-model="originCity" placeholder="Origin City">
    <input type="text" ng-model="originState" placeholder="Origin State">
    <input type="text" ng-model="originZip" placeholder="Origin Zip Code">
    <input type="text" ng-model="originDate" placeholder="Origin Date">
    <input type="text" ng-model="originTime" placeholder="Origin Time">
    <input type="text" ng-model="destCity" placeholder="Destination City">
    <input type="text" ng-model="destState" placeholder="Destination State">
    <input type="text" ng-model="destZip" placeholder="Destination Zip Code">
    <input type="text" ng-model="destDate" placeholder="Destination Date">
    <input type="text" ng-model="destTime" placeholder="Destination Time">
    <input type="text" ng-model="phone" placeholder="Phone">
    <input type="submit" ng-click="createRoutePost()">
</form>
</div>